.translation-buttons {
    padding-top: 1em !important;
}
.translation-buttons a{
    font-size: 2em;
}

blockquote {
    font-family: 'Inter';
}

* {
    background-color: aliceblue;
}

@media (max-width: 900px) {
    .header h1 {
        font-size: 1.2em;
    }
}